@font-face {
    font-family: got;
    src: url(got.ttf);
}
body {
	background-color: #787878;
}
h1 {
	text-align: center;
	font-family: got;
	color: #000000;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #787878;
  padding: 10px;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}
.about-lannister {
	text-align: left;
	font-family: 'Cinzel', serif ;
}